*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(4,3,71,1) 41%, rgba(29,91,175,1) 80%, rgba(25,88,186,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header{
    background: transparent;
    /* background: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgba(208,127,127,1) 30%, rgba(43,140,199,1) 55%, rgba(48,5,194,1) 89%); */
    height: 80px;
    border-bottom: 2px solid rgba(0,0,0,1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    /* align-items: center;
    justify-content: center; */
}

.control-btns-wrap{
    text-align: right;
    padding: 1rem 10px;
    height: 64px;
}

.restart-btn{
    margin-right: 0.3rem;
}

.control-btns{
    border-radius: 1rem;
    color: #fff;
    background-color: transparent;
    padding: 0.5rem;
    outline: none;
    border: 1px #fff solid;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;    
}

.restart-btn:hover{
    width: 10rem;
    color: #7fff00;
    border: 1px #7fff00 solid;
}

.menu-btn:hover{
    width: 10rem;
    color: #f7ff0c;
    border: 1px #f7ff0c solid;
}

.display-winner{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;
    color: #7fff00;
    margin-top: 1rem;
    font-family: 'Outfit', sans-serif;
}

.winner-animation{
    animation: winner-animation 2s linear 1;
}

.game-board-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
    /* min-height: calc(100vh - 144px); */
}

.game-board{
    flex-grow: 1;
    max-width: 400px;
    min-height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(17, 17, 87);
    gap: 2px;
    
}

.grid-position{
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */
    /* border: 1px solid red; */
    position: relative;
}

.winner{
    color: lawngreen;

}

.x-wins{
    background-image: url("../assets/images/resource-database-oqehDHWmP9w-unsplash.jpg");
    animation: bg-slide 2s alternate 3;
}
    
.o-wins{
    background-image: url("../assets/images/bernard-hermant-Gh-rCBNbKSw-unsplash.jpg");
    animation: bg-slide 2s alternate 3;
}

@keyframes bg-slide {
    0% {
        background-position-y: -30px;
    }
    100% {
        background-position-y: center;
    }
}

@keyframes winner-animation {
    0%{
        font-size: 2rem;
        color: #fff;
        font-weight: 400;
    }
    50%{
        font-size: 2.5rem;
        color: darkgreen;
        font-weight: 600;
    }    
    100%{
        font-size: 3rem;
        color: #6bc90e62;
        font-weight: 700;
    }
}

.post-game{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-game .post-game-message{
    text-align: center;
    color: #fff;
    padding: 1rem 10px;
    font-family: 'Outfit', sans-serif;
}

.post-game button {
    font-family: 'Outfit', sans-serif;
    border-radius: 1rem;
    color: #fff;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
    outline: none;
    border: 1px #fff solid;
    cursor: pointer;
}

.post-game #post-game-restart:hover{
    width: 150px;
    color: #7fff00;
    border: 1px #7fff00 solid;
}

.post-game #post-game-menu:hover{
    width: 150px;
    color: #e4081e;
    border: 1px #e4081e solid;
}

.post-game #post-game-wait{
    margin-top: 32px;
}

.post-game #post-game-wait:hover{
    width: 150px;
    color: #f7ff0c;
    border: 1px #f7ff0c solid;
}

.footer{
    height: 40px;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    display: flex;
    align-items: center;
}

.max-width-wrapper{
    max-width: 600px;
    margin: 0 auto;
}

footer a{
    color: #fff;
}

.hidden{
    display: none;
}

@media screen and (min-width: 426px) {
    .header{
        justify-content: flex-start;
        padding: 1rem;
    }

    .control-btns-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    
    .control-btns{
        border-radius: 40px;
        font-size: 20px;
        padding: 1rem;
    }
    
    .control-btns:hover{
        width: 15rem;
    }
    
    .game-board{
        max-width: 500px;   
        min-height: 200px;     
    }

    .grid-position input{
        height: 20px;
        width: 100%;
    }
    
    .grid-position input:hover{
        cursor: pointer;
    }
}

@media screen and (min-width: 900px) {
    .control-btns-wrap{
        padding: 2rem 10px 1rem;
    }

    .control-btns{
        font-size: 25px;
    }
    
    .control-btns:hover{
        width: 20rem;
    }

    .menu-btn{
        margin-left: 0.5rem;
    }

    .game-board{
        min-height: 300px;
        max-width: 700px;
    }

    .grid-position{
        font-size: 2rem;
    }

    .grid-position input{
        height: 30px;
    }


    .display-winner{
        height: 5rem;
        font-size: 4rem;
    }

    @keyframes winner-animation {
        0%{
            font-size: 2rem;
            color: #fff;
            font-weight: 400;
        }
        50%{
            font-size: 3rem;
            color: darkgreen;
            font-weight: 600;
        }    
        100%{
            font-size: 4rem;
            color: #6bc90e62;
            font-weight: 700;
        }
    }

    .footer{
        height: 60px;
        font-size: 25px;
    }
    
}