*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../assets/images/guilherme-lahmann-c0xrT0QykL8-unsplash.jpg");
}

.header{
    /* background: transparent; */
    background: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgba(208,127,127,1) 30%, rgba(43,140,199,1) 55%, rgba(48,5,194,1) 89%);
    height: 80px;
    border-bottom: 2px solid rgba(0,0,0,1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    /* justify-content: center; */
}

.home .welcome-message{
    padding: 2rem 10px;
    color: #fff;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 40px;
}

.home .welcome-message > span{
    display: block;
    font-family: 'Ms Madi', cursive;
    font-size: 50px;
}

.home-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-options h3{
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-bottom: 1rem;
}

.home .home-button{
    border-radius: 1rem;
    width: 8rem;
    color: #fff;
    background-color: rgba(65, 58, 58, 0.4);
    padding: 0.5rem 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
    outline: none;
    border: 1px #fff solid;
    cursor: pointer;
}

/* .home #quit-btn{
    padding: 0.5rem 2rem;
} */

.home #play-game-btn:hover{
    width: 10rem;
    color: #7fff00;
    border: 1px #7fff00 solid;
}

.home #credits-btn:hover{
    width: 10rem;
    color: #f7ff0c;
    border: 1px #f7ff0c solid;
}

/* .home #quit-btn:hover{
    width: 10rem;
    color: #e4081e;
    border: 1px #e4081e solid;
} */

.home .mode-select{
    width: 10rem;
}

.home .mode-select:hover{
    color: #7fff00;
    border: 1px #7fff00 solid;
}

.home .difficulty-easy:hover{
    color: #7fff00;
    border: 1px #7fff00 solid;
}

.home .difficulty-hard:hover{
    color: #e4081e;
    border: 1px #e4081e solid;
}

.home-options .char-X:hover{
    color: #2b8cc7;
    border: 1px #2b8cc7 solid;
}

.home-options .char-O:hover{
    color: #ffa500;
    border: 1px #ffa500 solid;
}


.home-options .previous-btn{
    border-radius: 1rem;
    color: #fff;
    background-color: rgba(247, 255, 12, 0.8);
    padding: 0.5rem;
    margin-top: 24px;
    outline: none;
    border: 1px #f7ff0c solid;
    cursor: pointer;
}

.home-options .previous-btn:hover{
    color: #f7ff0c;
    border: 1px #f7ff0c solid;
}


.hidden{
    display: none;
}

.footer{
    height: 40px;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    display: flex;
    align-items: center;
}

.max-width-wrapper{
    max-width: 400px;
    margin: 0 auto;
}

footer a{
    color: #fff;
}

@media screen and (min-width: 426px) {
    .header{
        justify-content: flex-start;
        padding: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .header{
        height: 120px;
        font-size: 4rem;
        padding: 1.5rem;
    }

    .home{
        min-height: calc(100vh - 120px);
    }

    .home .welcome-message{
        font-size: 60px;
        padding: 1rem;
    }

    .home .welcome-message > span{
        font-size: 70px;
    }

    
    .home-options h3{
        font-size: 32px;
        margin-bottom: 1rem;
    }

    .home .home-button{
        border-radius: 2rem;
        font-size: 20px;
        width: 200px;
        padding: 1rem 2rem;
        margin-top: 12px;
        margin-bottom: 12px;
        border: 5px #fff solid;
    }

    .home #quit-btn{
        padding: 1rem 2rem;
    }

    .home #play-game-btn:hover{
        width: 300px;
        border: 5px #7fff00 solid;
    }

    .home #credits-btn:hover{
        width: 300px;
        border: 5px #f7ff0c solid;
    }

    .home #quit-btn:hover{
        width: 300px;
        border: 5px #e4081e solid;
    }

    .home .mode-select{
        width: 200px;
    }

    .home .mode-select:hover{
        border: 5px #7fff00 solid;
    }

    .home .difficulty-easy:hover{
        border: 5px #7fff00 solid;
    }

    .home .difficulty-hard:hover{
        border: 5px #e4081e solid;
    }

    .home-options .char-X:hover{
        border: 5px #2b8cc7 solid;
    }
    
    .home-options .char-O:hover{
        border: 5px #ffa500 solid;
    }

    .home-options .previous-btn{
        border-radius: 1rem;
        padding: 0.5rem;
        margin-top: 24px;
        border: 2px #f7ff0c solid;
    }

    .home-options .previous-btn:hover{
        color: #f7ff0c;
        border: 2px #f7ff0c solid;
    }

    .footer{
        height: 60px;
        font-size: 25px;
    }
}