@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 30%, rgba(43,140,199,1) 71%, rgba(0,107,252,1) 92%, rgba(77,132,218,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header{
    background: linear-gradient(135deg, rgba(208,127,127,1) 30%, rgba(43,140,199,1) 55%, rgba(48,5,194,0.8) 89%);
    height: 80px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
    color: #fff;
}

.main{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    /* align-items: center;
    justify-content: center; */
}

.control-btns-wrap{
    text-align: right;
    padding: 1rem 10px;
    height: 64px;
}

.restart-btn{
    margin-right: 0.3rem;
}

.menu-btn{
    margin-left: 0.3rem;
}

.control-btns{
    border-radius: 1rem;
    color: #fff;
    background-color: rgba(157, 218, 4, 0.755);
    padding: 0.5rem;
    outline: none;
    border: 0;
    cursor: pointer;
}

.control-btns:hover{
    width: 10rem;
    color: #7fff00;
}

.display-winner{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;
    color: #7fff00;
    margin-top: 1rem;
    font-family: 'Outfit', sans-serif;
}

.winner-animation{
    animation: winner-animation 3s linear 1;
}

.game-board-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
    /* min-height: calc(100vh - 144px); */
}

.game-board{
    flex-grow: 1;
    max-width: 400px;
    min-height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(17, 17, 87);
    gap: 2px;
    
}

.grid-position{
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */
    /* border: 1px solid red; */
    position: relative;
}

.winner{
    color: lawngreen;

}

.x-wins{
    background-image: url(./possessed-photography-9HkyszvcRBY-unsplash.jpg);
    animation: bg-slide 2s alternate 3;
}
    
.o-wins{
    background-image: url(./bernard-hermant-rfpSOlH1JlQ-unsplash.jpg);
    animation: bg-slide 2s alternate 3;
}

@keyframes bg-slide {
    0% {
        background-position-y: -30px;
    }
    100% {
        background-position-y: center;
    }
}

@keyframes winner-animation {
    0%{
        font-size: 2rem;
        color: #fff;
        font-weight: 400;
    }
    50%{
        font-size: 2.5rem;
        color: darkgreen;
        font-weight: 600;
    }    
    100%{
        font-size: 3rem;
        color: #6bc90e62;
        font-weight: 700;
    }
}

.footer{
    height: 40px;
    background-color: rgb(95, 95, 95);
    color: #fff;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    display: flex;
    align-items: center;
}

.max-width-wrapper{
    max-width: 400px;
    margin: 0 auto;
}

footer a{
    color: #fff;
}

@media screen and (min-width: 768px) {
    .header{
        justify-content: flex-start;
        padding: 1rem;
    }

    .control-btns-wrap{
        text-align: center;
    }

    .game-board{
        max-width: 500px;   
        min-height: 200px;     
    }
}

@media screen and (min-width: 900px) {
    .game-board{
        min-height: 300px;
        max-width: 700px;
    }

    .grid-position{
        font-size: 2rem;
    }

    .display-winner{
        height: 5rem;
        font-size: 4rem;
    }

    @keyframes winner-animation {
        0%{
            font-size: 2rem;
            color: #fff;
            font-weight: 400;
        }
        50%{
            font-size: 3rem;
            color: darkgreen;
            font-weight: 600;
        }    
        100%{
            font-size: 4rem;
            color: #6bc90e62;
            font-weight: 700;
        }
    }
    
}