.game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.grid-position{
    text-align: center;
    background-color: aqua;
    border: 1px solid red;
}